<div class="container">
  <div class="teacher"></div>
  <div class="teacher"></div>
  <div class="teacher"></div>
  <div class="teacher"></div>
  <div class="teacher"></div>
  <div class="teacher"></div>
  <div class="teacher"></div>
  <div class="teacher"></div>
</div>
