// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  width: 100%;
  height: 10vh;
  position: fixed;
  display: table;
  background: white;

  h1 {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 90px;
  }
}

.container {
  padding-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: scroll;
}

.teacher {
  width: 50%;
  height: 450px;
  background-image: image-url("teacher.jpg");
  background-size: cover;
}

.footer {
  position: fixed;
  width: 100%;
  height: 10vh;
  bottom: 0;
  background-color: white;

  ul{
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;

    li {
      display: table-cell;
      width: 50%;

      .fa {
        font-size: 130px;
      }
    }

  }
}
