.photo {
  display: block;
  width: 400px;
  height: 400px;
  margin: 90px auto;

    img {
      background-size: cover;
      height: 400px;
      width: 100%;
      border-radius: 220px;
    }
}

.profile {
  background-color: white;
  width: 80%;
  margin: auto;
}
