@import 'mixin_colors';

.photo {
    width: 100%;

    img {
      width: 100%;
      height: 800px;
      background-image: cover;
    }
}

.profile {
  background-color: $base-color;
  width: 80%;
  margin: 50px auto 0;

  &__content {

    &-right{
      display: inline;
    }

    &-left {
      display: inline;
    }

  }

  &-inline{
    display: inline;
    font-size: 50px;
  }
}

.font-size {
  font-size: 75px;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.button {
  margin: 0 auto 50px;
  width: 300px;
  @include button();

  a:visited {
    color: white;
  }
}
.button:hover {
  background-color: #59b1eb;
}
